<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>TERUG</ons-back-button>
        </div>
        <div class="center"></div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="pageBody">
        <h1 class="siteheader"><img src="images/scaleIcon.png" alt="" height="30" /> DIE REGSWINKEL</h1>
        <div style="text-align: center">
            <img src="images/lockIcon.png" alt="" />
        </div>
        <div class="disBar">
            <h1>Herwin Besonderhede</h1>
        </div>
        <div style="text-align: center">
            <p>Sleutel jou e-posadres in en jou besonderhede sal aan jou gestuur word.</p>
            <ons-row><ons-col><input type="text" placeholder="E-Pos" ng-model="data.emailRecover" style="width: 80%"></ons-col></ons-row>
            <ons-row><ons-col><button class="button submitMe" ng-click="recover()" style="margin: 10px 0;">STUUR</button></ons-col></ons-row>
        </div>
    </div>
</ons-page>
