<ons-page>
    <ons-toolbar>
        <div class="left"></div>
        <div class="center" style="text-align: right;">
            
        </div>
        <div class="right">
            <a href="http://v2.zopim.com/widget/livechat.html?key=31dS7P5l058LSzxOrg39w82gFwrdxY9W" target="_blank">
                <i class="fa fa-comments-o" style="font-size:32px; vertical-align:-6px; color: #e85e00;"></i>
            </a>
            <span id="navigation0" ng-click="showMenu('#navigation0')" class="toolbar-button--outline navigation-bar__line-height">
                <i class="ion-navicon" style="font-size:32px; vertical-align:-6px; color: #000;"></i>
            </span>
        </div>
    </ons-toolbar>
    <div class="pageBody">
        <div style="text-align: center">
            <img src="images/logoTop.png" width="80%" style="margin-bottom: 20px;" alt="" />
        </div>
        <div class="searchBar">
            <input type="text" ng-model="data.searhFile" style="width: 80%"><ons-icon icon="fa fa-search" size="25px" fixed-width="true" ng-click="searchFiles(1)" style="color:#fff; text-align: right;"></ons-icon>
        </div>
        <p>&nbsp;</p>
        <div style="text-align: center">
            <button class="button button--large menu1" ng-click="myNavigator.pushPage('user/arbeidsreg.html', { animation : 'fade' } )"><img src="images/arbeidsregIcon.png" alt="" /> <div>Arbeidsreg</div></button>
            <button class="button button--large menu2" ng-click="myNavigator.pushPage('user/alternatiewe-regshulp.html', { animation : 'fade' } )"><img src="images/regshulpIcon.png" alt="" /> <div><small style="font-size: 20px; line-height: 30px;">Alternatiewe</small> regshulp</div></button>
        </div>
        
        <div ng-show="homeText" class="createAcc">
            <p>Jy is nie 'n aktiewe lid van <strong>Solidariteit</strong> nie, <a href="" ng-click="myNavigator.pushPage('user/register.html', { animation : 'slide' } )">klik hier</a> om uit te vind hoe om aan te sluit.</p>
        </div>
    </div>
</ons-page>
