<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>TERUG</ons-back-button></div>
        <div class="center"></div>
        <div class="right">
            <span id="navigationSub29" ng-click="showMenu('#navigationSub29')" class="toolbar-button--outline navigation-bar__line-height">
                <i class="ion-navicon" style="font-size:32px; vertical-align:-6px; color: #000;"></i>
            </span>
        </div>
    </ons-toolbar>
    <div class="pageBody">
        <div style="text-align: center">
            <img src="images/logoTop.png" width="80%" style="margin-bottom: 20px;" alt="" />
        </div>
        <div class="searchBar">
            <input type="text" ng-model="data.searhFile" style="width: 85%"><ons-icon icon="fa fa-search" size="25px" fixed-width="true" ng-click="searchFiles(1)" style="color:#fff;"></ons-icon>
        </div>
        <button class="button button--large header1"><img src="images/regshulpIcon.png" alt="" /> <div>Resultate:</div></button>
        <ons-list>
            <ons-list-item  class="articleList">
                <h4 ng-bind-html="resultpost.title"></h4>
                <div ng-bind-html="resultpost.content"></div>
            </ons-list-item>    
        </ons-list>
    </div>
</ons-page>